$colors:
(
    standtextcolor: #fff,
    cardtextcolor: #ddd,
    linkcolor: #000,
    bordercolor: #fff,
    cardbackgroundcolor: seagreen,
    buttontextcolor: seagreen,
    buttonbackgroundcolor: gold,
    backgroundstandard: #000
);

$breakpoints:
(
    small: 500px,
    medium: 600px,
    large: 1000px
);