*, *:after, *:before
{   /* Set border box on all elements */
    box-sizing: border-box;
}

body
{
    background-image: url(../images/arena.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    max-width: $maxbodywidth;
    padding: $standardpadding;
}

body>header
{
    font-size: 1.5em;
    min-height: 50px;
}

ul, li, h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a
{
    display: block;
    text-decoration: none;
    color: #fff;
}

img
{
    max-width: 100%;
    height: auto;
}