.card
{
    // Import default settings to each printcard
    @include printcard();
    ///set opacity
    @include seetrough(0.9);

    header
    {   /* Setting to the head info of a card */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        border-bottom: 3px solid map-get($colors, border);

        h2
        {
            flex: 2;
            margin: 0;
            padding: 0;
            font-size: 100%;
            border-right: 3px solid map-get($colors, border);
        }

        .meta
        {
            display: flex;
            justify-content: space-around;
            flex: 1;
        }
    }

    .content
    {   /* Setting to the main content of a card */
        flex: 1;     
        border-bottom: 3px solid map-get($colors, border);

        p
        {
            padding: $standardpadding;
            flex: 1;
        }
    }

    footer
    {   /* Setting to the additional info of a card */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: $standardpadding;

        span
        {
            font-size: 1.3em;
        }
    }

    @include breakpoint('medium')
    {   /* Change card size settings on medium screens */
        @include cardgrowth(5);
    }

    &:nth-child(4)
    {   /* Change local card colors */
        @include printcard(#ff9, #966);
    }
}