#menu
{   /* Settings for the menuwrapper and some of its content */
    display: none;
    background-color: map-get($colors, menubg);
    color: map-get($colors, collectionbg);
    padding: 5px;

    a
    {
        color: map-get($colors, collectionbg);
    }

    @include breakpoint(large)
    {
        display: block;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background: none;

        li
        {
            padding: 5px;
            
            &:nth-child(6)
            {
                margin-left: auto;
            }
        }
    }

    
    /*
    width: 85%;
    padding: $standardpadding;

    >ul
    {
        display: flex;
        flex-flow: column wrap;

        @include breakpoint(large)
        {
            flex-flow: row wrap;

            li
            {
                flex: 0 1 33%;

                @include breakpoint(large)
                {
                    flex: 1 1 auto;
                    /*background-color: green;

                    &:nth-child(4)
                    {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    label, a, h2
    {
        padding: $standardpadding;
    }

    label
    {
        display: block;
        cursor: pointer;
        transition: 0.3s;
        /*
        &:after 
        {
            position: relative;
            
            content: '';
            top: 15px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #f0f;
            border-bottom: 10px solid transparent;

            
        }

        &:hover
        {
            &:after
            {
                border-top: 10px solid transparent;
                border-bottom: 10px solid #f0f;
                top: -15px;
            }
        }
    }

    @include breakpoint(large)
    {
        display: block;
        width: 100%;
    }

    >ul>.dropdown
    {
        position: relative;
    }

    a
    {
        transition: 0.3s;

        &:hover
        {
            
        }
    }*/
}