#landing
{
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    
    .landlink
    { /* Placing the content at the center of the page */
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: $standardpadding;
      text-decoration: none;
      background-color: map-get($colors, landingbg);
      border: 1px solid map-get($colors, border);
    }
}