#menu
{
    display: none;
    background-color: #000;
    color: #fff;
    width: 85%;
    padding: $standardpadding;

    >ul
    {
        display: flex;
        flex-flow: column wrap;

        @include breakpoint(small)
        {
            flex-flow: row wrap;

            li
            {
                flex: 0 1 33%;

                @include breakpoint(large)
                {
                    flex: 1 1 auto;
                }
            }
        }
    }

    label, a, h2
    {
        padding: $standardpadding;
    }

    label
    {
        display: block;
        cursor: pointer;
    }

    @include breakpoint(small)
    {
        display: block;
        width: 100%;
    }

    >ul>.dropdown
    {
        position: relative;
    }
}



#menu .dropdown .megamenu
{
    display: none;
    flex-flow: column wrap;

    li
    {
        padding-left: 10px;
        font-size: 80%;
        h2
        {
            font-size: 100%;

            @include breakpoint(small)
            {
                text-align: center;
            }
        }
    }

    a
    {
        padding-left: +10px;
        @include breakpoint(small)
        {
            text-align: center;
        }
    }

    @include breakpoint(small)
    {
        margin-left: -200%;
        flex-flow: row wrap;
        justify-content: space-between;
        border-top: 1px solid #f00;
        border-bottom: 1px solid #f00;
        background-color: #3f3f3f;
        >ul
        {
            flex: 0 1 25%;
        }
    }

    @include breakpoint(large)
    {
        position: absolute;
        margin-left: -147.8%;
        left: 0;
        top: 43px;
        width: 395.8%;
    }

}