// Mixin that prints media breakpoint query based on the input value

@mixin breakpoint($width)
{
    @if map-has-key($breakpoints, $width)
    {
        @media all and(min-width: map-get($breakpoints, $width))
        {
            @content
        }
    }
}

@mixin cardgrowth($num)
{
    &:nth-child(#{$num}n)
    {
        flex: 0 1 100%;

        // PUT IN CARD CLASS
        .imgwrapper
        {
            order: 1;
            padding-left: $standardpadding;
        }

        .infowrapper
        {
            flex: 5;

            section
            {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-content: flex-start;
                margin: $standardmargin 0;
                padding: $standardpadding 0;       
                background-color: map-get($colors, ulbg);

                header
                {
                    flex-basis: 100%;
                }

                article
                {
                    flex: 0 1 30%;
                    border: 1px solid #000;

                    a
                    {
                        display: block;
                        
                        text-align: left;
                    }
                }
            }
        }
    }
}

@mixin colorcard()
{
    $counter: 1;
    @each $card, $color in $cardbackground
    {
        &:nth-child(#{$counter})
        {
            background: rgba($color, 0.9);
        }
        $counter: $counter+1;
    }
}