$standardpadding: 5px;

$colors:
(
    link: #000,
    label: #363,
    menubg: #eee,
    socialbg: #3dd,
    border: #000
);

$breakpoints:
(
    small: 500px,
    large: 1000px
);

$cardbackground:
(
    lightgrey: #ddd,
    darkgray: #888,
    lightblue: #55c,
    darkblue: #33f,
    lightgreen: #5c5,
    darkgreen: #3f3,
    lightred: #c55,
    darkred: #f33,
    piggy: #f0f,
    goldy: #e3e38a
);