$standardpadding: 5px;
$standardmargin: 10px;

$colors:
(
    link: #000,
    linklight: #fff,
    label: #363,
    ulbg: #eee,
    socialbg: #3dd,
    border: #000,
    linkbg: #c88,
    tblight: #eee,
    tbdark: #ccc,
    footer: #000
);

$breakpoints:
(
    xsmall: 400px,
    small: 500px,
    medium: 650px,
    large: 1000px
);

$cardbackground:
(
    lightgrey: #ddd,
    darkgray: #888,
    lightblue: #66f,
    darkblue: #33f,
    lightgreen: #6f6,
    darkgreen: #1d1,
    lightred: #f55,
    darkred: #f22,
    piggy: #c0c,
    goldy: #e3e38a
);