$standardpadding: 5px;
$standardmargin: 10px;

$colors:
(
    link: #000,
    linklight: #fff,
    label: #363,
    menubg: #eee,
    socialbg: #3dd,
    border: #000,
    linkbg: #c88,
    tblight: #eee,
    tbdark: #ccc,
    footer: #000
);

$breakpoints:
(
    xsmall: 400px,
    small: 500px,
    medium: 600px,
    large: 1000px
);

$cardbackground:
(
    lightgrey: #ddd,
    darkgray: #888,
    lightblue: #55c,
    darkblue: #33f,
    lightgreen: #5c5,
    darkgreen: #3f3,
    lightred: #c55,
    darkred: #f33,
    piggy: #f0f,
    goldy: #e3e38a
);