.card
{
    @include printcard(#000, #669);
    @include seetrough(0.9);

    header
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        border-bottom: 3px solid #000;

        h2
        {
            flex: 2;
            margin: 0;
            padding: 0;
            font-size: 100%;
            border-right: 3px solid #000;
        }

        .meta
        {
            display: flex;
            justify-content: space-around;
            flex: 1;
        }
    }

    .content
    {
        flex: 1;     
        border-bottom: 3px solid #000;

        p
        {
            padding: $standardpadding;
            flex: 1;
        }
    }

    footer
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: $standardpadding;

        span
        {
            font-size: 1.5em;
        }
    }

    @include breakpoint('medium')
    {
        @include cardgrowth(5);
    }

    &:nth-child(4)
    {
        @include printcard();
    }
}