#container
{   /* Configurating how the "card-wrapper" should handle its cards */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 10px auto 0;
    max-width: 500px;
}

#container .card
{   /* Configurating the individual cards */
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 10px;
    padding: 5px;
    opacity: 0.5;
    border: 1px solid #fff;
    color: #fff;
    background-color: seagreen;
}

#container .card h2
{
    margin: 0;
}

#container .card .nameinfo
{   /* Configurating the owner/author wrapper */
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

#container .card .productcontent
{   /* Configurating the div for the main content of each card */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

#container .card .productcontent p
{   
    flex: 1;
}

#container .card .productcontent button
{
    padding: 10px;
    color: seagreen;
    font-weight: bold;
    border: none; 
    background-color: gold;
}

@media all and (min-width: 600px){
    /* Settings that apply if the screen goes above 600 pixels */
    #container
    {   /* Make the card wrapper show as a row instead of column */
        flex-flow: row wrap;
        max-width: 1000px;
    }

    #container .card
    {
        width: 48%;
    }

    #container .card:last-child
    {
        width: 98%;
    }

}