#menutoggle
{
    display: none;
}

#menu
{
    display: none;
}

#menutoggle:checked ~ #menu
{
    display: block;
}

label .fa-bars
{
    font-size: 2em;
}

#menu ul
{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

#menu ul li
{
    text-align: center;
    padding: 0.5em 0;
}

#menu ul .social
{
    display: flex;
	flex-flow: row nowrap;
}

#menu ul .social li
{
    flex: 1 1 25%;
}

#menu ul a
{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

@media all and (min-width: 500px){

    label
    {
        display: none;
    }

    #menu
    {
        display: block;
    }

    #menu ul
	{
		flex-flow: row wrap;
	}

    #menu ul li
    {
        flex: 1 1 50%;
    }

    #menu ul .social
	{
		flex: 1 1 100%;
	}

}

@media all and (min-width: 1000px){

    #menu ul li
    {
        flex: 1;
    }

    #menu ul .social
    {
        flex: 1;
    }

}