/* Importing the other css files needed */
@import url("normalize.css");
@import url("menu.css");
@import url("box.css");

body
{   /* Handle how the background-image should be treated */
    background-image: url(../img/o-SCOTLAND-facebook1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#landing
{
    height: 100vh;
    display: flex;
}

#landing .landlink
{   /* Placing the main content in the landing page correctly */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: #ddd;
}

header
{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
}

img
{   /* Make sure the image has the best possible dimensions */
    max-width: 100%;
    height: auto;
}