/* Generic code for the whole site */
body
{   /* Arranging the background-image and set the size of body */
    background-image: url(../images/arena.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 $standardpadding;
    max-width: 1000px;
    margin: auto;
}

*, *:after, *:before
{
    box-sizing: border-box;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a
{
    @extend %baselink;
}

img
{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p
{
    padding: 0;
    margin: 0;
}