body
{
    padding: 0 $standardpadding;
    max-width: 1000px;
    margin: auto;
}

*, *:after, *:before
{
    box-sizing: border-box;
}

header
{
    font-size: 2em;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a
{
    padding: $standardpadding;
    text-decoration: none;  
    color: map-get($colors, link);
}