#container
{   /* Configurating how the "card-wrapper" should handle its cards */
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    display: flex;  
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: $standardmargin auto 0;
    max-width: $contwidthsmall;
    
    .card
    {   /* Configurating the individual cards */
        display: -webkit-flex;
        -webkit-flex-flow: column nowrap;
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto $standardmargin;
        padding: $standardpadding;
        opacity: 0.5;
        border: 1px solid map-get($colors, border); // Get color from sass map
        color: map-get($colors, cardstandard);
        background-color: map-get($colors, cardbackground);

        h2
        {
            margin: 0;
        }

        .nameinfo
        {   /* Configurating the owner/author wrapper */
            display: -webkit-flex;
            -webkit-justify-content: space-between;
            display: flex;
            justify-content: space-between;
            margin: $standardmargin 0;
        }

        .productcontent
        {   /* Configurating the div for the main content of each card */
            display: -webkit-flex;
            -webkit-flex-flow: column nowrap;
            -webkit-justify-content: space-between;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 100%;

            p
            {   
                -webkit-flex: 1;
                flex: 1;
            }

            button
            {
                padding: $standardpadding;
                color: map-get($colors, buttontext);
                font-weight: bold;
                border: none; 
                background-color: map-get($colors, buttonbackground);
            }
        }
        
        @for $i from 1 through 10
        {
            $newColor: map-get($colors, cardhead)+#005;
            // If looped more than 5 times, change value on newColor
            @if $i > 5 
            {
                $newColor: map-get($colors, cardhead)+#500;
            }

            // Print new classes with special designed colors
            &:nth-child(#{$i})
            {   /* Change head-color on current card */
                h2
                {
                    color: $newColor;
                }

                .nameinfo
                {
                    color: $newColor;
                }
            }
        }

        @include breakpoint(medium) // Add mixincontent for the breakpoint
        {   /* Change card size when screen width goes above 600 pixels */
            -webkit-flex-basis: 48%;
            flex-basis: 48%;   
            @include cardgrowth();
        }
    }

    @include breakpoint(medium)
    {   /* Make the card wrapper show as a row instead of column */
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        max-width: $contwidthbig;
    }
}
