.cardwrapper
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: $standardmargin;
    .card 
    {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 0 0 $standardmargin;
        padding: $standardpadding; 
        border: 1px solid map-get($colors, border);

        .imgwrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            flex: 1;
            
            h2
            {
                display: none;
            }
            img
            {
                margin-bottom: 5px;
                &:last-child 
                {
                    margin-bottom: 0;
                }
            }
        }

        .infowrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            flex: 3;  
            margin-left: 5px;
            
            h2, h3
            {
                text-align: center;
            }

            h3
            {
                display: none;
                text-decoration: underline;
                font-weight: normal;
                font-size: 1.2em;
            }

            .cardlink
            {
                margin: 5px 0;
                text-align: center;
                text-transform: uppercase;
                background-color: map-get($colors, linkbg);
                border-bottom: 2px solid map-get($colors, border);
            }

            p
            {
                flex: 1;
            }

            section
            {
                display: none;
            }

            .listholder
            {
                display: none;
                background-color: map-get($colors, ulbg);
                padding: $standardpadding;

                @include breakpoint(xsmall)
                {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;

                    ul
                    {
                        :first-child 
                        {
                            font-weight: bold;
                        }

                        &:nth-child(2)
                        {
                            text-align: center;
                        }
                    }
                }
            }

            @include breakpoint(xsmall)
            {
                h3
                {
                    display: block;
                }
            }

        }

        @include breakpoint(medium)
        {
            flex: 0 1 49.5%;
            @include cardgrowth(5);
        }

        &:last-child
        {
            margin-bottom: 1px;
        }

        @include colorcard();

    }

    @include breakpoint(medium)
    {
        flex-flow: row wrap;
    }

}