.cardwrapper
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 10px;
    .card 
    {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 0 0 10px;
        padding: $standardpadding; 
        border: 1px solid #000;

        .imgwrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            flex: 1;
            h2
            {
                display: none;
            }
            img
            {
                margin-bottom: 5px;
                &:last-child 
                {
                    margin-bottom: 0;
                }
            }
        }

        .infowrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            flex: 3;  
            margin-left: 5px;
            
            h2, h3
            {
                text-align: center;
            }

            h3
            {
                text-decoration: underline;
                font-weight: normal;
                font-size: 1.2em;
            }

            a
            {
                margin: 5px 0;
                text-align: center;
                text-transform: uppercase;
            }

            p
            {
                flex: 1;
                
                color: red;
    
            }

            section
            {
                display: none;
            }

            .tablewrapper
            {
                display: none;
                @media all and(min-width: 400px)
                {
                    display: block;
                }
            }

            table
            {
                width: 100%;
                tr
                {
                    display: flex;
                    justify-content: space-between;
                    &:nth-child(even)
                    {
                        background-color: #eee;
                    }

                    td
                    {
                        
                        flex: 5;
                    }

                    .place
                    {
                        flex: 1;
                    }
                }
            }
        }

        @media all and(min-width: 600px)
        {
            flex: 0 1 49.5%;

            @include cardgrowth();

        }

    }

    @media all and(min-width: 600px)
    {
        flex-flow: row wrap;
    }

}