.cardwrapper
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: $standardmargin;
    .card 
    {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        margin: 0 0 $standardmargin;
        padding: $standardpadding; 
        border: 1px solid map-get($colors, border);

        .imgwrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            flex: 1;
            h2
            {
                display: none;
            }
            img
            {
                margin-bottom: 5px;
                &:last-child 
                {
                    margin-bottom: 0;
                }
            }
        }

        .infowrapper
        {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            flex: 3;  
            margin-left: 5px;
            
            h2, h3
            {
                text-align: center;
            }

            h3
            {
                text-decoration: underline;
                font-weight: normal;
                font-size: 1.2em;
            }

            .cardlink
            {
                margin: 5px 0;
                text-align: center;
                text-transform: uppercase;
                background-color: map-get($colors, linkbg);
            }

            p
            {
                flex: 1;
            }

            section
            {
                display: none;
            }

            .tablewrapper
            {
                display: none;
                @include breakpoint(xsmall)
                {
                    display: block;
                }
            }

            table
            {
                width: 100%;
                tr
                {
                    display: flex;
                    justify-content: space-between;

                    &:nth-child(even)
                    {
                        background-color: map-get($colors, tblight);
                    }

                    &:nth-child(odd)
                    {
                        background-color: map-get($colors, tbdark);
                    }

                    td
                    {
                        flex: 4;
                    }

                    .place
                    {
                        flex: 1;
                    }
                    
                    .price
                    {
                        flex: 1;
                    }

                }
            }
        }

        @include breakpoint(medium)
        {
            flex: 0 1 49.5%;
            @include cardgrowth();
        }

        &:last-child
        {
            margin-bottom: 1px;
        }

        @include colorcard();

    }

    @include breakpoint(medium)
    {
        flex-flow: row wrap;
    }

}