#pagefooter
{   /* How to layout the items in the footer */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 10px;
    background-color: map-get($colors, footer);

    .footcol
    {   /* How to layout each column inside the footer */
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        text-align: center;
        margin: $standardmargin 0;
        left: 0;

        a
        {
            margin-bottom: $standardmargin;
            padding: 0;
            font-size: 1.2em;
            color: map-get($colors, linklight);
        }
    }

    @include breakpoint(small)
    {   /* Flow the items in a row on bigger screens */
        flex-flow: row wrap;
    }
}