#pagefooter
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 10px;
    background-color: map-get($colors, footer);

    .footcol
    {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        text-align: center;
        margin: $standardmargin 0;

        a
        {
            margin-bottom: $standardmargin;
            padding: 0;
            font-size: 1.2em;
            color: map-get($colors, linklight);
        }
    }

    @include breakpoint(small)
    {
        flex-flow: row wrap;
    }
}