#pagefooter
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #000;

    .footcol
    {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        text-align: center;
        a
        {
            margin-bottom: 10px;
            padding: 0;
            color: #fff;
        }
    }
}