#menu
{
    display: none;
    font-size: 2em;
    background-color: map-get($colors, ulbg);
    
    .items
    {
        display: flex;
        flex-flow: column wrap;
        flex: 5;
        border: 1px solid map-get($colors, border);

        ul
        {
            display: none;
        }

        @include breakpoint(small)
        {
            flex-flow: row wrap;
            align-content: stretch;
            
            li
            {
                flex: 1 1 50%;
                @include breakpoint(large)
                {
                    flex: 1 1 auto;
                }
            }
        }
    }

    .social
    {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        flex: 1;
        text-align: center;
        border: 1px solid map-get($colors, border);
        background-color: map-get($colors, socialbg);
        border-left: none; 

        @include breakpoint(large)
        {
            flex-flow: row wrap;
        }
    }

    a
    {
        display: block;
        height: 100%;
    }

    @include breakpoint(small)
    {
        display: flex;
        flex-flow: row wrap;
        margin-top: $standardmargin;
    }
}