form
{   /* How to treat forms */
    margin: 10px 0 0;
    
    fieldset
    {
        display: flex;
        flex-flow: column wrap;
        border: none;

        legend
        {   /* Heading for the form */
            text-decoration: underline;
        }

        input
        {          
            margin: 0 0 10px;
        }

        .textbox
        {   /* Styling the input fields in the form */
            font-size: .8em;
            width: 100%;
            max-width: 250px;
        }

        .submit
        {
            /* Styling the "subscribe" button */
            width: 100px;
            margin-left: 0;
            border: none;
            color: map-get($colors, linkdark);
        }
    }
}