/// Standard padding on most divs
$standardpadding: 5px;
/// Page may not get larger than this
$maxbodywidth: 1000px;
/// Total number of cards
$cardnumber: 10;

/// Sass map of colors
$colors:
(
    landlinkbg: #916c55,
    collectionbg: white,
    collectiontext: red,
    linkdark: #000,
    shadow: #000,
    headers: #000,
    menubg: #669,
    pricehead: #00f,
    border: #f00,
    parabg: darkorange,
    specborder: #ec4970
);

/// Sass map for breakpoints
$breakpoints:
(
    large: 32.188em
);
